<a href="https://colab.research.google.com/github/Shahzodbey/real_projects/blob/main/ML_absenteeism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create Logistic Regression

## Import libraries

In [ ]:
import pandas as pd
import numpy as np

## Load the data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data science/notebooks/Absenteeism_preprocessed.csv')
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

## Create targets

In [ ]:
df['Absenteeism Time in Hours'].median()

3.0

In [ ]:
targets = np.where(df['Absenteeism Time in Hours'] > df['Absenteeism Time in Hours'].median(), 1, 0)

In [ ]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [ ]:
df['Excessive Absenteeism'] = targets

In [ ]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

### A comment on targets

In [ ]:
targets.sum() / targets.shape[0] # for logistic regression target's classes should be 50 to 50 or 60 to 40 proportion

0.45571428571428574

## Create Checkpoint

In [ ]:
data_with_targets = df.drop(['Absenteeism Time in Hours', 'Day of the week', 'Distance to Work', 'Daily Work Load Average'], axis=1)
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0

In [ ]:
data_with_targets is df

False

## Select Inputs

In [ ]:
data_with_targets.shape

(700, 12)

In [ ]:
data_with_targets.iloc[:, :14]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0,1
696,1,0,0,0,5,225,28,24,0,1,2,0
697,1,0,0,0,5,330,28,25,1,0,0,1
698,0,0,0,1,5,235,32,25,1,0,0,0
699,0,0,0,1,5,291,40,25,0,1,1,0

In [ ]:
data_with_targets.iloc[:, :-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

In [ ]:
unscaled_inputs = data_with_targets.iloc[:, :-1]

## Standarize the inputs

In [ ]:
# from sklearn.preprocessing import StandardScaler

# absenteeism_scaler = StandardScaler()

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator, TransformerMixin):

  def __init__(self,columns):
    self.scaler = StandardScaler()
    self.columns = columns
    self.mean = None
    self.var_ = None
  
  def fit(self, X, y=None):
    self.scaler.fit(X[self.columns], y)
    self.mean = np.mean(X[self.columns])
    self.var_ = np.var(X[self.columns])
    return self
  
  def transform(self, X, y=None,):
    init_col_orders = X.columns
    X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
    X_notscaled = X.loc[:, ~X.columns.isin(self.columns)]
    return pd.concat([X_notscaled, X_scaled], axis=1)[init_col_orders]

In [ ]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [ ]:
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education']

columns_toscale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [ ]:
absenteeism_scaler = CustomScaler(columns_toscale)

In [ ]:
absenteeism_scaler.fit(unscaled_inputs) # this calculate mean and std for each column

CustomScaler(columns=['Month Value', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pets'])

In [ ]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs) # this actually applys scaling

In [ ]:
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

## Train, Test split and shuffle

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 139         1         0         0         0    -1.244823
 126         0         0         0         1    -1.530333
 352         1         0         0         0     1.610276
 601         0         0         0         1    -1.244823
 698         0         0         0         1    -0.388293
 ..        ...       ...       ...       ...          ...
 694         0         0         0         1    -0.388293
 318         0         0         0         1     1.324766
 539         0         0         0         1     1.324766
 37          1         0         0         0     0.468236
 652         0         0         1         0    -0.959313

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 139               -0.654143  0.248310         1.002633          0 -0.919030
 126               -1.574681  0.091435         0.297027          0 -0.919030
 352                0.190942  1.032682         2.649049          0 -0.019280
 601               -0.654143  0.562059        -1.114186          1  0.880469
 698                0.190942 -0.692937        -0.408580          1 -0.919030
 ..                      ...       ...              ...        ...       ...
 694                1.036026  0.562059        -0.408580          0 -0.019280
 318                0.387122  1.660180         1.237836          0  0.880469
 539                0.040034 -1.320435        -0.643782          0 -0.019280
 37                 1.036026 -0.692937        -0.878984          0 -0.919030
 652                1.005844 -0.536062         0.767431          0  0.880469

          Pets
 139 -0.589690
 126 -0.589690
 352 -0.589690
 601 -0.589690
 698 -0.589690
 ..        ...
 694  0.268487
 318  0.268487
 539  1.126663
 37  -0.589690
 652  0.268487

 [525 rows x 11 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 568         0         0         0         1     1.610276
 686         1         0         0         0    -0.388293
 348         0         0         0         1     1.610276
 212         1         0         0         0    -0.388293
 63          0         0         0         1     1.039256
 ..        ...       ...       ...       ...          ...
 611         1         0         0         0    -1.244823
 101         0         0         0         1     1.610276
 90          0         0         0         1     1.324766
 516         0         0         0         1     1.039256
 115         0         0         0         1    -1.530333

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 568                0.040034 -1.320435        -0.643782          0 -0.019280
 686               -1.574681  2.130803         1.002633          0 -0.019280
 348               -0.654143 -1.006686        -1.819793          1 -0.919030
 212                1.005844 -0.536062         0.767431          0  0.880469
 63                -1.574681  0.091435         0.297027          0 -0.919030
 ..                      ...       ...              ...        ...       ...
 611                0.040034 -1.320435        -0.643782          0 -0.019280
 101                0.190942  0.091435         0.532229          1 -0.019280
 90                 0.040034 -1.320435        -0.643782          0 -0.019280
 516                2.213108 -0.849811        -0.408580          0  1.780219
 115               -1.574681  0.091435         0.297027          0 -0.919030

          Pets
 568  1.126663
 686 -0.589690
 348 -0.589690
 212  0.268487
 63  -0.589690
 ..        ...
 611  1.126663
 101  0.268487
 90   1.126663
 516 -0.589690
 115 -0.589690

 [175 rows x 11 columns],
 array([1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
        1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
        1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1,
        0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
        1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
        1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
        0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0,
        0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1,
        0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
        0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
        0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
        0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
        0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0,
        1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
        1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1]),
 array([0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
        1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
        1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
        0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0])]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size=0.8, random_state=21, shuffle=True)

In [ ]:
print (x_train.shape, y_train.shape)

(560, 11) (560,)

In [ ]:
print(x_test.shape, y_test.shape)

(140, 11) (140,)

## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [ ]:
reg = LogisticRegression()

reg.fit(x_train, y_train)

LogisticRegression()

In [ ]:
reg.score(x_test, y_test)

0.7857142857142857

## Check manually

In [ ]:
model_output = reg.predict(x_test)

In [ ]:
model_output == y_test

array([ True,  True, False,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True, False,  True, False, False, False,  True, False, False,
        True,  True,  True, False, False,  True,  True, False,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True, False, False,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
       False, False,  True, False,  True])

In [ ]:
np.sum(model_output == y_test) / model_output.shape[0]

0.7857142857142857

## Intercept and Coefficient

In [ ]:
reg.intercept_

array([-1.61863017])

In [ ]:
reg.coef_

array([[ 2.70061717,  1.08541511,  2.97963734,  0.77840749,  0.0707637 ,
         0.54820084, -0.17520738,  0.31045391,  0.09455509,  0.44813489,
        -0.24171921]])

In [ ]:
feature_names = unscaled_inputs.columns.values

In [ ]:
summary_table = pd.DataFrame(columns=['Feature Name'], data=feature_names)

summary_table['Coefficients'] = np.transpose(reg.coef_)

In [ ]:
summary_table

              Feature Name  Coefficients
0                 Reason_1      2.700617
1                 Reason_2      1.085415
2                 Reason_3      2.979637
3                 Reason_4      0.778407
4              Month Value      0.070764
5   Transportation Expense      0.548201
6                      Age     -0.175207
7          Body Mass Index      0.310454
8                Education      0.094555
9                 Children      0.448135
10                    Pets     -0.241719

In [ ]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature Name  Coefficients
0                Intercept     -1.618630
1                 Reason_1      2.700617
2                 Reason_2      1.085415
3                 Reason_3      2.979637
4                 Reason_4      0.778407
5              Month Value      0.070764
6   Transportation Expense      0.548201
7                      Age     -0.175207
8          Body Mass Index      0.310454
9                Education      0.094555
10                Children      0.448135
11                    Pets     -0.241719

## Testing the model

In [ ]:
reg.score(x_test, y_test)

0.7857142857142857

In [ ]:
predicted_proba = reg.predict_proba(x_test)

In [ ]:
predicted_proba

array([[0.80230962, 0.19769038],
       [0.21968795, 0.78031205],
       [0.76988145, 0.23011855],
       [0.88130779, 0.11869221],
       [0.62189313, 0.37810687],
       [0.87932456, 0.12067544],
       [0.78044357, 0.21955643],
       [0.36312538, 0.63687462],
       [0.54284026, 0.45715974],
       [0.35383319, 0.64616681],
       [0.69827947, 0.30172053],
       [0.22012886, 0.77987114],
       [0.34363777, 0.65636223],
       [0.77696202, 0.22303798],
       [0.86093045, 0.13906955],
       [0.7463853 , 0.2536147 ],
       [0.79908555, 0.20091445],
       [0.71324115, 0.28675885],
       [0.78388588, 0.21611412],
       [0.78388588, 0.21611412],
       [0.54284026, 0.45715974],
       [0.50551286, 0.49448714],
       [0.74770689, 0.25229311],
       [0.45106796, 0.54893204],
       [0.78388588, 0.21611412],
       [0.74770689, 0.25229311],
       [0.43192624, 0.56807376],
       [0.88130779, 0.11869221],
       [0.78728894, 0.21271106],
       [0.19711652, 0.80288348],
       [0.71855442, 0.28144558],
       [0.81317777, 0.18682223],
       [0.88130779, 0.11869221],
       [0.31290823, 0.68709177],
       [0.84404268, 0.15595732],
       [0.82896193, 0.17103807],
       [0.33909531, 0.66090469],
       [0.85849379, 0.14150621],
       [0.76057882, 0.23942118],
       [0.86415652, 0.13584348],
       [0.19323651, 0.80676349],
       [0.78388588, 0.21611412],
       [0.72188238, 0.27811762],
       [0.77541822, 0.22458178],
       [0.14297039, 0.85702961],
       [0.78388588, 0.21611412],
       [0.84404268, 0.15595732],
       [0.34209849, 0.65790151],
       [0.73277735, 0.26722265],
       [0.16118887, 0.83881113],
       [0.56461504, 0.43538496],
       [0.78388588, 0.21611412],
       [0.52127408, 0.47872592],
       [0.75896814, 0.24103186],
       [0.78044357, 0.21955643],
       [0.74555431, 0.25444569],
       [0.07666694, 0.92333306],
       [0.38573139, 0.61426861],
       [0.37620243, 0.62379757],
       [0.36312538, 0.63687462],
       [0.78388588, 0.21611412],
       [0.21355343, 0.78644657],
       [0.38095545, 0.61904455],
       [0.27924941, 0.72075059],
       [0.56281565, 0.43718435],
       [0.06367291, 0.93632709],
       [0.85602157, 0.14397843],
       [0.39685235, 0.60314765],
       [0.35280841, 0.64719159],
       [0.5111832 , 0.4888168 ],
       [0.67966101, 0.32033899],
       [0.78044357, 0.21955643],
       [0.77830142, 0.22169858],
       [0.76628257, 0.23371743],
       [0.65453134, 0.34546866],
       [0.83180749, 0.16819251],
       [0.06738346, 0.93261654],
       [0.78388588, 0.21611412],
       [0.07666694, 0.92333306],
       [0.9239341 , 0.0760659 ],
       [0.75365542, 0.24634458],
       [0.75149904, 0.24850096],
       [0.88130779, 0.11869221],
       [0.75019068, 0.24980932],
       [0.78728894, 0.21271106],
       [0.0782789 , 0.9217211 ],
       [0.42363359, 0.57636641],
       [0.85688306, 0.14311694],
       [0.20925644, 0.79074356],
       [0.76057882, 0.23942118],
       [0.35743522, 0.64256478],
       [0.83738511, 0.16261489],
       [0.14816937, 0.85183063],
       [0.35383319, 0.64616681],
       [0.15063161, 0.84936839],
       [0.75303683, 0.24696317],
       [0.21696625, 0.78303375],
       [0.40469091, 0.59530909],
       [0.205933  , 0.794067  ],
       [0.11974368, 0.88025632],
       [0.78044357, 0.21955643],
       [0.3172683 , 0.6827317 ],
       [0.03804848, 0.96195152],
       [0.67524634, 0.32475366],
       [0.38095545, 0.61904455],
       [0.78176793, 0.21823207],
       [0.76264476, 0.23735524],
       [0.39017697, 0.60982303],
       [0.7642385 , 0.2357615 ],
       [0.50046215, 0.49953785],
       [0.39017697, 0.60982303],
       [0.75395778, 0.24604222],
       [0.91346496, 0.08653504],
       [0.35598266, 0.64401734],
       [0.80504486, 0.19495514],
       [0.03451883, 0.96548117],
       [0.72188238, 0.27811762],
       [0.39983302, 0.60016698],
       [0.73181076, 0.26818924],
       [0.3056276 , 0.6943724 ],
       [0.84223417, 0.15776583],
       [0.32414853, 0.67585147],
       [0.06376127, 0.93623873],
       [0.40890693, 0.59109307],
       [0.43420016, 0.56579984],
       [0.25062465, 0.74937535],
       [0.31535985, 0.68464015],
       [0.76057882, 0.23942118],
       [0.64070062, 0.35929938],
       [0.36208877, 0.63791123],
       [0.12839152, 0.87160848],
       [0.07541268, 0.92458732],
       [0.08401676, 0.91598324],
       [0.53779938, 0.46220062],
       [0.61713082, 0.38286918],
       [0.38573139, 0.61426861],
       [0.74555431, 0.25444569],
       [0.34666009, 0.65333991],
       [0.34820903, 0.65179097],
       [0.65908544, 0.34091456]])

## Save the model

In [ ]:
import pickle

In [ ]:
with open('model', 'wb') as file:
  pickle.dump(reg, file)

In [ ]:
with open('scaler', 'wb') as file:
  pickle.dump(absenteeism_scaler, file)